.heading
{
    font-size: 15px;
    padding: 1px;
    box-shadow: yellowgreen;
}
.note
{
    font-style: italic;
    color: rgb(135, 5, 37);
}
.canvas
{
    font-size: 10px;
    border: red;
    padding: 2px;
    margin: 10px;
}